{
    "bots": [
        {
            "owner": "",
            "key": "",
            "secret": "",
            "subAccount": "",
            "telegramId": 0,
            "strategy": ""
        }
    ],
    "mode": "backtest",
    "notify": true,
    "line": {
        "channelSecret": "",
        "channelAccessToken": ""
    },
    "telegram": ""
}