{
    "bots": [
        {
            "owner": "",
            "mode": "",
            "verbose": true,
            "key": "",
            "secret": "",
            "subAccount": "",
            "telegramId": 0,
            "strategy": ""
        }
    ],
    "line": {
        "channelSecret": "",
        "channelAccessToken": ""
    },
    "telegram": "",
    "sentry": ""
}